{% extends "core/base.html" %}

{% block content %}
<div class="container px-4 py-8">
    <h1 class="text-2xl font-bold mb-4">Olá, Fulano!</h1>
    <p class="text-gray-400 mb-6">
        Veja aqui os seus certificados, baixe-os ou faça uma postagem comemorando sua conquista!
    </p>

    <div class="hidden">
        <h1 class="text-green-400 text-center justify-center">Opa, parece que você não tem nenhuma certificado no momento</h1>
    </div>

    <div>
        <h2 class="text-xl font-semibold text-green-700 mb-2">Nome do Evento</h2>
        <div class="flex items-center mb-4">
            {% load static %}
            <a href=''><img src='{% static 'svg/download-icon.svg' %}' alt='icone de download'></a>
            <button class="text-gray-400 hover:underline flex items-center">Baixe todos</button>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
            <div class="bg-gray-200 text-sm border-dashed border-2 border-gray-300 rounded-lg p-3 flex flex-col">
                <div class="space-x-1 items-end flex justify-end">
                    {% load static %}
                    <a href=''><img src='{% static 'svg/download-icon.svg' %}' alt='icone de download'></a>
                </div>
                <div class="w-full h-32 flex justify-center items-center">
                    <!--imagem logo a baixo-->
                    <!--<img src="" alt="" class="w-full h-full object-cover rounded">-->
                    <h2 class='flex text-gray-300 text-center'>IMAGEM DO CERTIFICADO CORRESPONDENTE</h2>
                </div>
            </div>
            <div class="bg-gray-200 text-sm border-dashed border-2 border-gray-300 rounded-lg p-3 flex flex-col">
                <div class="space-x-1 items-end flex justify-end">
                    {% load static %}
                    <a href=''><img src='{% static 'svg/download-icon.svg' %}' alt='icone de download'></a>
                </div>
                <div class="w-full h-32 flex justify-center items-center">
                    <!--imagem logo a baixo-->
                    <!--<img src="" alt="" class="w-full h-full object-cover rounded">-->
                    <h2 class='flex text-gray-300 text-center'>IMAGEM DO CERTIFICADO CORRESPONDENTE</h2>
                </div>
            </div>
            <div class="bg-gray-200 text-sm border-dashed border-2 border-gray-300 rounded-lg p-3 flex flex-col">
                <div class="space-x-1 items-end flex justify-end">
                    {% load static %}
                    <a href=''><img src='{% static 'svg/download-icon.svg' %}' alt='icone de download'></a>
                </div>
                <div class="w-full h-32 flex justify-center items-center">
                    <!--imagem logo a baixo-->
                    <!--<img src="" alt="" class="w-full h-full object-cover rounded">-->
                    <h2 class='flex text-gray-300 text-center'>IMAGEM DO CERTIFICADO CORRESPONDENTE</h2>
                </div>
            </div>
            <div class="bg-gray-200 text-sm border-dashed border-2 border-gray-300 rounded-lg p-3 flex flex-col">
                <div class="space-x-1 items-end flex justify-end">
                    {% load static %}
                    <a href=''><img src='{% static 'svg/download-icon.svg' %}' alt='icone de download'></a>
                </div>
                <div class="w-full h-32 flex justify-center items-center">
                    <!--imagem logo a baixo-->
                    <!--<img src="" alt="" class="w-full h-full object-cover rounded">-->
                    <h2 class='flex text-gray-300 text-center'>IMAGEM DO CERTIFICADO CORRESPONDENTE</h2>
                </div>
            </div>
            <div class="bg-gray-200 text-sm border-dashed border-2 border-gray-300 rounded-lg p-3 flex flex-col">
                <div class="space-x-1 items-end flex justify-end">
                    {% load static %}
                    <a href=''><img src='{% static 'svg/download-icon.svg' %}' alt='icone de download'></a>
                </div>
                <div class="w-full h-32 flex justify-center items-center">
                    <!--imagem logo a baixo-->
                    <!--<img src="" alt="" class="w-full h-full object-cover rounded">-->
                    <h2 class='flex text-gray-300 text-center'>IMAGEM DO CERTIFICADO CORRESPONDENTE</h2>
                </div>
            </div>
            <div class="bg-gray-200 text-sm border-dashed border-2 border-gray-300 rounded-lg p-3 flex flex-col">
                <div class="space-x-1 items-end flex justify-end">
                    {% load static %}
                    <a href=''><img src='{% static 'svg/download-icon.svg' %}' alt='icone de download'></a>
                </div>
                <div class="w-full h-32 flex justify-center items-center">
                    <!--imagem logo a baixo-->
                    <!--<img src="" alt="" class="w-full h-full object-cover rounded">-->
                    <h2 class='flex text-gray-300 text-center'>IMAGEM DO CERTIFICADO CORRESPONDENTE</h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}