{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="flex flex-col gap-10 w-1/2 p-10 rounded-lg shadow-sm shadow-gray-800/25">
    <h1 class="text-4xl font-bold text-center">Redefinir Senha</h1>
    <div class="flex flex-col sm gap-4">
        <div class="badge-message hidden">
            {% include 'partials/badge_message.html' with status='success' message='E-mail com informações foi enviado!' %}
        </div>
        <div class="flex flex-col sm gap-2.5">
            <label class="text-sm font-normal" for="email">E-mail:</label>
            <input class="w-full rounded-lg bg-gray-200" type="text" name="email" id="email" placeholder="nome@example.com">
        </div>

    </div>

    <div class="flex flex-col gap-2 ">
        <button type="submit" class="self-center btn-default w-full h-[58px]" id="btnConfirmEmailRequest">Confirmar</button>
    </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/profile_script.js' %}"></script>
{% endblock %}
