{% extends 'core/base.html' %}
{% block content %}

<div class="flex flex-col gap-10 w-1/2 p-10 rounded-lg shadow-sm shadow-gray-800/25">
    <h1 class="text-4xl font-bold text-center">Redefinir Senha</h1>
    <div class="flex flex-col sm gap-4">
        <div class="flex flex-col sm gap-2.5">
            <label class="text-sm font-normal" for="password">Insira a nova senha:</label>
            <input class="w-full rounded-lg bg-gray-200" type="password" name="new_password" id="new_password" placeholder="********">
        </div>

        <div class="flex flex-col sm gap-2.5">
            <label class="text-sm font-normal" for="password">Confirme a nova senha:</label>
            <input class="w-full rounded-lg bg-gray-200" type="password" name="check_new_password" id="check_new_password" placeholder="********">
        </div>
    </div>
    <div class="flex flex-col gap-2 ">
        <button type="submit" class="self-center btn-default w-full h-[58px]">Confirmar</button>
    </div>
</div>

{% endblock %}
