{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="flex flex-col gap-10 w-3/5 p-10 rounded-lg shadow-sm shadow-gray-800/25">
    <h1 class="text-4xl font-bold text-center">Cadastro</h1>
    <span class="text-center font-bold">Já tem conta? Faça seu
        <a class="underline text-green-700"
            href="{% url 'login' %}"
            title="Clicando em login, você será redirecionado para a página de login do SEIF.">
            login
        </a>
    aqui!
    </span>

    <form action="{% url 'signup' %}" method = "POST">
        {% csrf_token %}
        <div class="flex flex-col sm gap-4">
            <div class="flex flex-col sm gap-2.5">
                <label class="text-sm font-normal" for="nome">Nome:</label>
                <input
                    class="w-full rounded-lg bg-gray-200"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Fulano de Tal da Silva">
            </div>

            <div class="flex flex-col sm gap-2.5">
                <label class="text-sm font-normal" for="email">E-mail:</label>
                <input class="w-full rounded-lg bg-gray-200
                disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                invalid:border-red-500 invalid:text-red-600
                focus:invalid:border-red-500 focus:invalid:ring-red-500"
                type="text"
                name="email"
                id="email"
                placeholder="nome@example.com">
            </div>

            <div class="flex gap-5">
                <div class="flex flex-col w-full gap-2.5">
                    <label class="text-sm font-normal" for="cpf">CPF:</label>
                    <input
                        class="w-full rounded-lg bg-gray-200"
                        type="text"
                        name="cpf"
                        id="cpf"
                        placeholder="XXX.XXX.XXX-XX">
                </div>

                <div class="flex flex-col w-full gap-2.5">
                    <label class="text-sm font-normal" for="telefone">Telefone:</label>
                    <input
                        class="w-full rounded-lg bg-gray-200"
                        type="text"
                        name="phone"
                        id="phone"
                        placeholder="(XX)XXXXX-XXXX">
                </div>
            </div>

            <div class="flex gap-5">
                <div class="flex flex-col w-full gap-2.5">
                    <label class="text-sm font-normal" for="password">Senha:</label>
                    <input
                        class="w-full rounded-lg bg-gray-200"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="*********">
                </div>
                <div class="flex flex-col w-full gap-2.5">
                    <label class="text-sm font-normal" for="checkPassword"> Confirmar Senha:</label>
                    <input
                        class="w-full rounded-lg bg-gray-200" ]
                        type="password"
                        name="checkPassword"
                        id="checkPassword"
                        placeholder="*********">
                </div>
            </div>

            <div class="flex justify-center">
                <button type="submit" class="btn-default w-1/2 h-[58px]">Confirmar</button>
            </div>

        </div>
    </form>
</div>
{% block script %}
    <script src="{% static 'js/mask.js' %}"></script>
{% endblock %}
{% endblock %}
