{% extends "core/base.html" %}
{% load static %}
{% block header %}
<title>Inscrição - {{ event.title }}</title>
{% endblock %}


{% block content %}
<!-- Informações do evento -->

{% if messages %}
{% for message in messages %}
    {% include 'partials/badge_message.html' with status='warning' message=message %}
{% endfor %}
{% endif %}

<div class = " flex flex-col w-full gap-14 pt-20 justify-center md-screen:flex-row ">
    {% if event %}

    <!--Informações textuais na versao reponsiva abaixo de 900px-->
    <div class = "md-screen:hidden" >
        <h2 class = "font-extrabold text-3xl md-screen:text-4xl">{{event.title}}</h2>

        <!--tags-->
        <div class = "flex items-center gap-3 overflow-x-scroll md-screen:scrollbar-hide pt-6">
            {% for tag in event.tags.all %}
                <div class = "tag-default">{{tag.name}}</div>
            {% endfor %}
        </div>
    </div>

    <div class = "w-full flex flex-col gap-16 md:flex-row">
        <!--Imagem-->
        <img
            src="{{event.banner.url}}"
            alt=""
            class = "max-w-[450px] w-full md:max-w-[400px] h-[500px] self-center md-screen:self-start object-fill md-screen:w-[370px]"
        />
        <!--Informações textuais-->
        <div class = "flex-1 flex flex-col justify-between">
            <div class>
                <h2 class = "font-extrabold text-4xl hidden  md-screen:block" >{{event.title}}</h2>

                <!--tags-->
                <div class = "items-center gap-3 overflow-x-scroll md-screen:scrollbar-hide pt-6 hidden md-screen:flex">
                    {% for tag in event.tags.all %}
                        <div class = "tag-default">{{tag.name}}</div>
                    {% endfor %}
                </div>

                <div class = "flex flex-col gap-4 py-6  text-base text-gray-400 font-semibold">
                    <span>Campus Pau dos Ferros</span>
                    <span>INICIO: </br> {{event.init_date|date:"d/m/Y"}}</span>
                    <span>FIM: </br> {{event.end_date|date:"d/m/Y"}}</span>
                </div>

                <p class = "text-base text-justify w-full">
                    {{event.description|striptags}}
                </p>
            </div>

        </div>

    </div>
</div>

<!--Listagem de ativiades-->
<div class = "py-16 w-full">
    <!--Container de cards-->
    <form action="{% url 'event_subscription' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="event_id" value="{{ event.id }}">
        <div class = "grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-6 w-full">
            <!--Card-->
            {% if event.activity_set.all %}
                {% for activity in event.activity_set.all  %}
                    <div class = "card-activity">
                        <div class = "flex flex-col text-base font-semibold text-gray-400">
                            <h3 class = "font-bold text-2xl text-gray-600">{{activity.title}}</h3>
                            <span>{{activity.init_date|date:"d/m/Y"}}</span>
                            <span>Ministrada por: {{activity.instructor}}</span>

                            <p class = "font-normal text-gray-600 pt-4">{{activity.description|striptags}}</p>
                        </div>

                        <div class = "flex items-center gap-5">
                            {% if activity.capacity == 0 and activity.id not in activities_subscribed%}
                                <div class = "tag-finished" >Vagas esgotadas</div>
                            {% else %}
                                <div class = "{% if activity.capacity != 0 %} tag-default {% else %} tag-finished {% endif %}" >{{ activity.capacity }} vagas</div>
                                <input
                                type = "checkbox"
                                name="selected_activities"
                                value = {{ activity.id }}
                                class = "w-10 h-10 rounded-lg border-green-400 text-green-400 cursor-pointer"
                                {% if activity.id in activities_subscribed %} checked {% endif %}
                                />
                                <label for="activity"></label>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            {%else%}
                <span>Sem atividades</span>
            {% endif%}
        </div>
        <div class = "flex justify-end pt-20">
            {% if event.status == "active" %}
                {% if event.activity_set.all %}
                    {% if activities_subscribed %}
                        <div class="flex gap-8">
                            <button type="button" class = "btn-warning" id="subscriptionDeleteBtn">Remover Inscrição</button>
                            <button type="button" class = "btn-default" id="subscriptionEditBtn">Editar Inscrição</button>
                        </div>
                    {% else %}
                        <button type="submit" class = "btn-default" id="subscribeBtn">Inscrever</button>
                    {% endif %}
                {% endif %}
            {% endif%}
        </div>
    </form>

    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/subscription_requests.js' %}"></script>
{% endblock %}
