{% extends "core/base.html" %}

{% block content %}
<!-- Informações do evento -->
<div>
    <!--Imagem-->
    <div></div>
    
    <!--Informações textuais-->
    <div>
        <h2>NOME EVENTO E EDIÇÃO</h2>

        <!--tags-->
        <div>

        </div>

        <div>
            <span>Campus Pau dos Ferros</span>
            <span>INICIO: 00/00/0000</span>
            <span>FIM: 00/00/0000</span>
        </div>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Laudantium ullam illum nam consequuntur qui corrupti facilis 
            quae delectus vitae reiciendis voluptatibus harum neque natus aut, 
            voluptates iusto consequatur quasi eum.
        </p>

        <!--Atividades-->
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<!--Listagem de ativiades-->

<div>
    <!--Container de cards-->
    <div>

        <!--Card-->
        <div></div>
    </div>

    <button>Salvar</button>
</div>
{% endblock %}