{% extends "core/base.html" %}
{% load svg %}
{% block content %}

<!-- Search input -->
<div class = "w-full flex justify-end py-12">
    <div class = " w-[450px] flex items-center gap-3 bg-gray-200 rounded-lg px-5">
        {% svg 'search' %}
        <input
            type="text"
            placeholder = "Pesquise aqui"
            class = "border-none bg-transparent w-full outline-none"
        />
    </div>
</div>
<!-- Search input -->

<!-- Carrossel -->
<div class = "w-full flex flex-col items-center gap-4">
    <div class= "w-full h-80 bg-gray-250">
    </div>

    <!--Bolinhas-->
    <ul class = "flex items-center gap-3">
        <li class = "circle bg-green-700" ></li>
        <li class = "circle"></li>
        <li class = "circle"></li>
        <li class = "circle"></li>
    </ul>

</div>
<!-- Carrossel -->

<!-- Listagem cards de eventos -->
<section class = "w-full flex flex-col">
    <div class = "flex justify-between items-center" >
        <h3 class = "font-bold text-2xl">Encontre eventos</h3>

        <!--Filtros-->
        <div class = "flex flex-col items-end gap-3 text-base font-semibold py-5">
            <span> FILTROS</span>
            <ul class = "flex items-center gap-4 prose-li:flex prose-li:items-center prose-li:cursor-pointer">
                <li class = "list-border-bottom">
                    Status
                    {% svg 'keyboard_arrow_down' %}
                </li>
                <li class = "list-border-bottom">
                    Tipo
                    {% svg 'keyboard_arrow_down' %}
                </li>
                <li class = "list-border-bottom">
                    Campi
                    {% svg 'keyboard_arrow_down' %}
                </li>
            </ul>
        </div>



    </div>
    <!--Cards-->
    <section class = "w-full flex flex-col gap-9 pb-12">
        <div class= "card-event">
            <!--Imagem-->
            <div class = "w-full sm:w-[350px] min-h-[220px] bg-gray-200 rounded-tl-lg rounded-bl-lg"></div>

            <div class = "w-full px-7 py-4">
                    <!--Tags-->
                <div class = "flex items-center gap-3 overflow-x-scroll sm:scrollbar-hide">
                    <div class = "tag-default">em breve</div>
                    <div class = "tag-default">pesquisa</div>
                    <div class = "tag-default">aberto ao público</div>
                </div>

                <!--infoa-->
                <div class = "flex flex-col py-5 font-semibold text-gray-300">
                    <h3 class = "font-bold text-2xl text-black">SEMAP</h3>
                    <span clas = "">Campus Pau dos ferros</span>
                    <span>00/00/0000 ate 00/00/0000</span>
                </div>

                <div class = "flex justify-end">
                    <a href="{% url 'event_details' %}">
                    <button class = "btn-default w-full sm:w-[200px]">Participar
                    </button>
                    </a>
                </div>
            </div>
        </div>

        <div class= "card-event">
            <!--Imagem-->
            <div class = "w-full sm:w-[350px] min-h-[220px] bg-gray-200 rounded-tl-lg rounded-bl-lg"></div>

            <div class = "w-full px-7 py-4">
                    <!--Tags-->
                <div class = "flex items-center gap-3 overflow-x-scroll sm:scrollbar-hide">
                    <div class = "tag-default">em breve</div>
                    <div class = "tag-default">pesquisa</div>
                    <div class = "tag-default">aberto ao público</div>
                </div>

                <!--infoa-->
                <div class = "flex flex-col py-5 font-semibold text-gray-300">
                    <h3 class = "font-bold text-2xl text-black">SEMAP</h3>
                    <span clas = "">Campus Pau dos ferros</span>
                    <span>00/00/0000 ate 00/00/0000</span>
                </div>

                <div class = "flex justify-end">
                    <button class = "btn-default w-full sm:w-[200px]">Participar</button>
                </div>
            </div>
        </div>





    </section>

</section>
{% endblock %}
