{% extends "core/base.html" %}
{% load svg %}
{% block content %}

<!-- Search input -->
<div class = "w-full flex justify-end py-12">
    <div class = "min-w-[450px] flex items-center gap-3 bg-gray-200 rounded-lg px-5">
        {% svg 'search' %}
        <input 
            type="text" 
            placeholder = "Pesquise aqui"
            class = "border-none bg-transparent w-full outline-none"
        />
    </div>
</div>
<!-- Search input -->

<!-- Carrossel -->
<div class = "w-full flex flex-col items-center gap-4">
    <div class= "w-full h-80 bg-gray-250">
    </div>

    <!--Bolinhas-->
    <ul class = "flex items-center gap-3">
        <li class = "circle bg-green-700" ></li>
        <li class = "circle"></li>
        <li class = "circle"></li>
        <li class = "circle"></li>
    </ul>

</div>
<!-- Carrossel -->

<!-- Listagem cards de eventos -->
<section class = "w-full flex flex-col">
    <div class = "flex justify-between items-center" >
        <h3 class = "font-bold text-2xl">Encontre eventos</h3>

        <!--Filtros-->
        <div class = "flex flex-col items-end gap-3 text-base font-semibold py-5">
            <span> FILTROS</span>
            <ul class = "flex items-center gap-4 prose-li:flex prose-li:items-center prose-li:cursor-pointer">
                <li class = "list-border-bottom">
                    Status
                    {% svg 'keyboard_arrow_down' %}
                </li>
                <li class = "list-border-bottom">
                    Tipo
                    {% svg 'keyboard_arrow_down' %}
                </li>
                <li class = "list-border-bottom">
                    Campi
                    {% svg 'keyboard_arrow_down' %}
                </li>
            </ul>
        </div>

        

    </div>
    <!--Cards-->
    <section class = "w-full flex flex-wrap gap-10  justify-center  pb-10">
        <div class = "card-event">
            <!--Imagem-->
            <div class  ="w-full h-[320px] bg-gray-300 rounded-tl-md rounded-tr-md"></div>

            <!--Informações-->
            <div class = "flex flex-col justify-between min-h-[calc(630px-320px)] p-3">
                <div>

                    <!--Tags-->
                    <div class = "flex flex-wrap justify-between gap-2 items-center">
                        <div class = "tag-progress"> em andamento</div>
                        <div class = "tag-default"> tecnologia</div>
                        <div class = "tag-default"> ciencia </div>
                        <div class = "tag-default"> ciencia </div>
                    </div>
                    <h2 class = "font-bold text-4xl pt-7">SEMPAP</h2>
                    <div class = "flex flex-col gap-2 font-semibold text-gray-300 text-base">
                        <span>Campus Pau dos Ferros</span>
                        <span>23/09/2024 até 20/12/2027</span>
                    </div>
                </div>
                <button 
                    class = "btn-default w-full"
                > Participar </button>
            </div>
        </div>
        
        <div class = "card-event ">
            <!--Imagem-->
            <div class  ="w-full h-[320px] bg-gray-300 rounded-tl-md rounded-tr-md"></div>

            <!--Informações-->
            <div class = "flex flex-col justify-between min-h-[calc(630px-320px)] p-3">
                <div>

                    <!--Tags-->
                    <div class = "flex flex-wrap justify-between gap-2 items-center">
                        <div class = "tag-progress"> em andamento</div>
                        <div class = "tag-default"> tecnologia</div>
                        <div class = "tag-default"> ciencia </div>
                        <div class = "tag-default"> ciencia </div>
                    </div>
                    <h2 class = "font-bold text-4xl pt-7">SEMPAP</h2>
                    <div class = "flex flex-col gap-2 font-semibold text-gray-300 text-base">
                        <span>Campus Pau dos Ferros</span>
                        <span>23/09/2024 até 20/12/2027</span>
                    </div>
                </div>
                <button class = "btn-default w-full"> Participar </button>
            </div>
        </div>

        <div class = "card-event">
            <!--Imagem-->
            <div class  ="w-full h-[320px] bg-gray-300 rounded-tl-md rounded-tr-md"></div>

            <!--Informações-->
            <div class = "flex flex-col justify-between min-h-[calc(630px-320px)] p-3">
                <div>

                    <!--Tags-->
                    <div class = "flex flex-wrap justify-between gap-2 items-center">
                        <div class = "tag-progress"> em andamento</div>
                        <div class = "tag-default"> tecnologia</div>
                        <div class = "tag-default"> ciencia </div>
                        <div class = "tag-default"> ciencia </div>
                    </div>
                    <h2 class = "font-bold text-4xl pt-7">SEMPAP</h2>
                    <div class = "flex flex-col gap-2 font-semibold text-gray-300 text-base">
                        <span>Campus Pau dos Ferros</span>
                        <span>23/09/2024 até 20/12/2027</span>
                    </div>
                </div>
                <button class = "btn-default w-full"> Participar </button>
            </div>
        </div>
        <div class = "card-event">
            <!--Imagem-->
            <div class  ="w-full h-[320px] bg-gray-200 rounded-tl-md rounded-tr-md"></div>

            <!--Informações-->
            <div class = "flex flex-col justify-between min-h-[calc(630px-320px)] p-3">
                <div>

                    <!--Tags-->
                    <div class = "flex flex-wrap justify-between gap-2 items-center">
                        <div class = "tag-progress"> em andamento</div>
                        <div class = "tag-default"> tecnologia</div>
                        <div class = "tag-default"> ciencia </div>
                        <div class = "tag-default"> ciencia </div>
                    </div>
                    <h2 class = "font-bold text-4xl pt-7">SEMPAP</h2>
                    <div class = "flex flex-col gap-2 font-semibold text-gray-300 text-base">
                        <span>Campus Pau dos Ferros</span>
                        <span>23/09/2024 até 20/12/2027</span>
                    </div>
                </div>
                <button class = "btn-default w-full"> Participar </button>
            </div>
        </div>
    </section>
</section>
{% endblock %}