@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .circle{
        @apply w-5 h-5 rounded-full bg-green-200 cursor-pointer
    }
    .tag-default{
        @apply flex items-center justify-center w-auto h-auto text-nowrap rounded-md py-1 px-3 bg-green-200 text-green-400;
    }
    .tag-progress{
        @apply flex items-center justify-center w-auto h-auto text-nowrap py-1 px-3 bg-yellow-200 text-yellow-400;
    }
    .tag-finished{
        @apply flex items-center justify-center w-auto h-auto text-nowrap py-1 px-3 bg-red-200 text-red-400;
    }
    .btn-default{
        @apply w-[190px] min-h-14 bg-green-400 text-center rounded-md text-base font-semibold text-gray-100 hover:bg-green-600;
    }
    .card-event {
        @apply w-full min-h-[225px] flex flex-col sm:flex-row border border-gray-300 rounded-lg
    }
    .list-border-bottom{
        @apply border-b-2 border-transparent hover:border-green-400
    }
}


@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Esconde a barra de rolagem */
    }
    
    .scrollbar-hide {
        -ms-overflow-style: none;  /* Para o IE e Edge */
        scrollbar-width: none;  /* Para Firefox */
    }
}