@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px){
    html{
        font-size: 80.5%;
    }
}
@layer components {
    .aside-full-left-width {
        @apply content-[""] absolute top-0 left-0 w-[900px] h-full bg-gray-50 z-0
    }
    .aside-items {
        @apply cursor-pointer px-2 ;
    }
    .aside-select-item {
        @apply bg-green-400 py-4 px-2 rounded-lg text-gray-100;
    }

    .aside-full-left-width {
        @apply content-[""] absolute top-0 left-0 w-[900px] h-full bg-gray-50 z-0
    }
    .aside-items {
        @apply cursor-pointer px-2 ;
    }
    .aside-select-item {
        @apply bg-green-400 py-4 px-2 rounded-lg text-gray-100;
    }

    .circle{
        @apply w-5 h-5 rounded-full bg-green-200 cursor-pointer
    }
    .tag-not-started{
        @apply flex items-center justify-center w-auto h-auto text-nowrap rounded-md py-1 px-3 bg-gray-200 text-gray-300 font-semibold;
    }
    .tag-default{
        @apply flex items-center justify-center w-auto h-auto text-nowrap rounded-md py-1 px-3 bg-green-200-opacity-50 text-green-700 font-semibold;
    }
    .tag-progress{
        @apply flex items-center justify-center w-auto h-auto text-nowrap rounded-md py-1 px-3 bg-yellow-200-opacity-50 text-yellow-400 font-semibold;
    }
    .tag-finished{
        @apply flex items-center justify-center w-auto h-auto text-nowrap rounded-md py-1 px-3 bg-red-200-opacity-50 text-red-400 font-semibold;
    }
    .badge-default{
        @apply p-4 flex justify-center items-center gap-3 border rounded-3xl bg-blue-600 text-gray-100;;
    }
    .badge-success{
        @apply p-4 flex justify-center items-center gap-3 border rounded-3xl bg-green-800 text-gray-100;
    }
    .badge-warning{
        @apply p-4 flex justify-center items-center gap-3 border rounded-3xl bg-red-500 text-gray-100;
    }
    .btn-default{
        @apply w-[190px] min-h-14 bg-green-400 text-center rounded-md text-base font-semibold text-gray-100 hover:bg-green-600;
    }
    .btn-warning{
        @apply w-[190px] min-h-14 bg-red-200 text-center rounded-md text-base font-semibold text-gray-100 hover:bg-red-200;
    }
    .btn-warning-unfilled{
        @apply w-[190px] min-h-14 border-2 border-dashed  border-red-200 text-center rounded-md text-base font-semibold text-red-200;
    }
    .card-event {
        @apply w-full min-h-[225px] flex flex-col sm:flex-row border border-gray-300 rounded-lg
    }
    .card-filter-activity{
        @apply w-52 rounded-lg py-6 px-4 bg-gray-200 text-base cursor-pointer hover:bg-gray-250
    }
    .card-activity{
        @apply w-[300px] min-h-[250px] flex flex-col justify-between px-3 py-7 rounded-lg bg-gray-200 border border-gray-300
    }
    .list-border-bottom{
        @apply border-b-2 border-transparent hover:border-green-400
    }
}


@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Esconde a barra de rolagem */
    }

    .scrollbar-hide {
        -ms-overflow-style: none;  /* Para o IE e Edge */
        scrollbar-width: none;  /* Para Firefox */
    }
}
