{% extends "management/base.html" %}
{% load svg %}

{% block content %}

<body class="bg-gray-200 min-h-screen flex items-center justify-center">
    <div class="max-w-[1100px] w-full ml-14">
        <h1 class="text-2xl font-semibold mb-6 text-green-900">Criando Novo Evento</h1>
        <h2 class="text-xl font-semibold mb-6 text-gray-950">Informações Principais</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Metade Esquerda - Local da Imagem -->
                <div class="flex justify-center items-center border-2 border-dashed border-gray-600 rounded-lg bg-gray-250 h-full">
                    <input type="file" id="imagem" name="imagem" class="hidden" />
                    <label for="imagem" class="text-gray-500 text-center cursor-pointer w-full h-full flex items-center justify-center">
                        <span>Arraste ou clique para adicionar uma imagem</span>
                    </label>
                </div>

                <div class="space-y-6">
                    <!-- Título -->
                    <div>
                        <label for="titulo" class="block text-sm font-medium text-gray-600">Título</label>
                        <input type="text" id="titulo" name="titulo" placeholder="Título do evento"
                            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-800 focus:ring-green-800 placeholder-gray-300" />
                    </div>

                    <!-- Descrição -->
                    <div>
                        <label for="descricao" class="block text-sm font-medium text-gray-600">Descrição</label>
                        <textarea id="descricao" name="descricao" rows="4" placeholder="Descrição do evento"
                            class="h-44 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-800 focus:ring-green-800 placeholder-gray-300"></textarea>
                    </div>

                    <!-- Datas e Status -->
                    <div class="flex flex-wrap gap-3">
                        <div class="flex-1">
                            <label for="inicio" class="text-sm font-medium text-gray-600">Início</label>
                            <input type="date" id="inicio" name="inicio"
                                class="mt-1 block w-[120px] rounded-md border-gray-300 shadow-sm focus:border-green-800 focus:ring-green-800 placeholder-gray-300" />
                        </div>
                        <div class="flex-1">
                            <label for="fim" class="text-sm font-medium text-gray-600">Fim</label>
                            <input type="date" id="fim" name="fim"
                                class="mt-1 block w-[120px] rounded-md border-gray-300 shadow-sm focus:border-green-800 focus:ring-green-800 placeholder-gray-300" />
                        </div>
                        <div class="flex-1">
                            <label for="horario_inicio" class="text-sm font-medium text-gray-600">Horário de Início</label>
                            <input type="time" id="horario_inicio" name="horario_inicio"
                                class="mt-1 block w-[120px] rounded-md border-gray-300 shadow-sm focus:border-green-800 focus:ring-green-800 placeholder-gray-300" />
                        </div>
                        <div class="flex-1">
                            <label for="status_inicial" class="text-sm font-medium text-gray-600">Status Inicial</label>
                            <select id="status_inicial" name="status_inicial"
                                class="mt-1 block w-[120px] rounded-md border-gray-300 shadow-sm focus:border-green-800 focus:ring-green-800 placeholder-gray-300">
                                <option value="ativo">Ativo</option>
                                <option value="inativo">Inativo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tags e Campus -->
            <div class="grid grid-cols-2 gap-6 mt-6">
                <div class="flex flex-col space-y-2">
                    <label for="tags" class="text-sm font-medium text-gray-600">Tags</label>
                    <input type="text" id="tags" name="tags" placeholder="ex: tecnologia"
                        class="mt-1 rounded-md border-gray-300 shadow-sm focus:border-green-800 focus:ring-green-800 placeholder-gray-300" />
                </div>
                <div class="flex flex-col space-y-2">
                    <label for="campus" class="text-sm font-medium text-gray-600">Campus</label>
                    <select id="campus" name="campus"
                        class="mt-1 rounded-md border-gray-300 shadow-sm focus:border-green-800 focus:ring-green-800 placeholder-gray-300">
                        <option value="IFRN - campus pau dos ferros">IFRN - campus pau dos ferros</option>
                    </select>
                </div>
            </div>

            <!-- Adicionar Organizadores -->
            <div class="mt-6">
                <label for="organizadores" class="block text-sm font-medium text-gray-600">Adicione Organizadores</label>
                <input type="email" id="organizadores" name="organizadores" placeholder="fulano@gmail.com"
                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-800 focus:ring-green-800 placeholder-gray-300" />
            </div>

            <!-- Adicionar Atividades -->
            <!--botão não está funcionando como o esperado, possivel falha com javaScript-->
            <div class="mt-6">
                <a href="{% url 'modal_activity' %}">
                <button id="add-activity-btn" type="button" class="btn-default">
                    Adicionar Atividades +
                </button>
                </a>
            </div>

            <!-- Cards -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-8">
                <!-- Card 1 -->
                <div class="bg-white shadow-md rounded-lg p-4 border-2 border-gray-250">
                    <h3 class="font-semibold text-lg text-gray-900">Palestra de Abertura</h3>
                    <p class="text-sm text-gray-500 mt-2">00/00 ÀS 17:00</p>
                    <p class="text-sm text-gray-700 mt-1">Ministrada por: NOME</p>
                    <p class="text-sm text-gray-600 mt-4">Lorem Ipsum is simply dummy text...</p>
                </div>

                <!-- Card 2 -->
                <div class="bg-white shadow-md rounded-lg p-4 border-2 border-gray-250">
                    <h3 class="font-semibold text-lg text-gray-900">Minicurso Django</h3>
                    <p class="text-sm text-gray-500 mt-2">00/00 ÀS 17:00</p>
                    <p class="text-sm text-gray-700 mt-1">Ministrada por: NOME</p>
                    <p class="text-sm text-gray-600 mt-4">Lorem Ipsum is simply dummy text...</p>
                </div>

                <!-- Card 3 -->
                <div class="bg-white shadow-md rounded-lg p-4 border-2 border-gray-250">
                    <h3 class="font-semibold text-lg text-gray-900">Minicurso Django</h3>
                    <p class="text-sm text-gray-500 mt-2">00/00 ÀS 17:00</p>
                    <p class="text-sm text-gray-700 mt-1">Ministrada por: NOME</p>
                    <p class="text-sm text-gray-600 mt-4">Lorem Ipsum is simply dummy text...</p>
                </div>
            </div>

            <!-- Botão Finalizar -->
            <div class="mt-6 flex justify-end">
                <button type="button" class="btn-default">
                    Finalizar
                </button>
            </div>
        </form>
    </div>
</body>

{% endblock %}
