{% extends 'management/base.html' %} {% load static %} {% load svg %} {% block content %}
<div class="pt-12 pb-8">
	<h1 class="text-2xl">Solicitações de Submissão</h1>
</div>

<div class="flex gap-2 items-center">
    <a href="{% url 'event_publish_request' %}" class="flex items-center text-green-900 font-semibold text-xl mb-1 hover:text-green-700 transition">
        {% svg 'arrow-left' class="w-6 h-6" %}
        <span>Voltar</span>
    </a>
</div>

<div class="rounded-lg bg-gray-50 px-6 py-10 border border-green-700">
    <h2 class="text-green-700 text-3xl font-semibold mb-7">Solicitação N°{{ event.id }}</h2>

    <div class="flex gap-5">
        <!-- Dados do Solicitante -->
        <div class="bg-gray-200 rounded-md px-6 py-8">
            <h2 class="text-gray-600 text-3xl font-bold">Solicitante</h2>

            <div class="flex flex-col mt-11">
                <span><strong>Requisitado por:</strong> {{ event.created_by.username }}</span>
                <span><strong>Campus:</strong> {{ event.get_campus_display }}</span>
                <span><strong>Email:</strong> {{ event.created_by.email }}</span>
            </div>
        </div>

        <!-- Dados do Evento -->
        <div class="bg-gray-200 rounded-md px-6 py-8 w-full">
            <h2 class="text-gray-600 text-3xl font-bold">Evento</h2>
            <div class="flex flex-col mt-11 w-full">
                <span><strong>Nome:</strong> {{ event.title }}</span>
                <span><strong>Descrição breve:</strong> {{event.description|striptags|truncatechars:20}}</span>
                <span><strong>Tipo:</strong>
                    {% for tag in event.tags.all %}
                        {{tag.name}}
                    {% endfor %}
                </span>
                <span><strong>Status:</strong> {{ event.get_status_display }}</span>
                <span><strong>Início:</strong> {{ event.init_date|date:"d/m/Y H:i" }}</span>
                <span><strong>Fim:</strong> {{ event.end_date|date:"d/m/Y H:i" }}</span>
            </div>
        </div>
    </div>
</div>



    <div class = "mt-24">
        <h2 class = "text-2xl font-semibold text-gray-600 mb-6">Enviar observação:</h2>

        <div class="flex align-bottom gap-5">
            <div class = "w-full rounded-md">
                <form method="post" action="{% url 'event_submit_detail' pk=event.pk %}">
                    {% csrf_token %}
                    {{ observation_form.as_p }}

                    <div class="flex justify-end mt-5 items-end gap-2">
                        <button type="submit" name="reject" class="h-8 btn-warning">Recusar</button>
                        <button type="submit" name="approve" class="h-8 btn-default">Aceitar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--essa-->


{% endblock%}
