{% extends "management/base.html" %}
{% load svg %}
{% block content %}

<div id="activity-modal" class="fixed inset-0 flex items-center justify-center bg-gray-300 bg-opacity-70 pl-44">
    <div class="bg-gray-200 w-11/12 max-w-2xl max-h-[700px] rounded-lg shadow-lg p-6">
        <h2 class="text-lg font-bold mb-4 text-gray-600">Criando Atividade</h2>
        <form class="h-full flex flex-col">
            <!-- Título -->
            <div class="mb-4">
                <label for="titulo" class="block text-gray-600 font-bold mb-2">Título</label>
                <input type="text" id="titulo" placeholder="placeholder" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-green-800">
            </div>

            <!-- Descrição -->
            <div class="mb-4">
                <label for="descricao" class="block text-gray-600 font-bold mb-2">Descrição</label>
                <textarea id="descricao" rows="4" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-green-800"></textarea>
            </div>

            <!-- Datas e horários (em linha) -->
            <div class="flex flex-wrap gap-4">
                <div class="flex-1">
                    <label for="inicio" class="block text-gray-600 font-bold text-sm mb-2">Início</label>
                    <input type="date" id="inicio" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-green-800 placeholder-gray-500">
                </div>
                <div class="flex-1">
                    <label for="fim" class="block text-gray-600 font-bold text-sm mb-2">Fim</label>
                    <input type="date" id="fim" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-green-800 placeholder-gray-500">
                </div>
                <div class="flex-1">
                    <label for="horario-inicio" class="block text-gray-600 font-bold text-sm mb-2">Horário de Início</label>
                    <input type="time" id="horario-inicio" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-green-800 placeholder-gray-500">
                </div>
                <div class="flex-1">
                    <label for="tipo" class="block text-gray-700 font-bold text-sm mb-2">Tipo</label>
                    <select id="tipo" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-green-800 placeholder-gray-500">
                        <option value="">Selecione</option>
                        <option value="opcao1">Opção 1</option>
                        <option value="opcao2">Opção 2</option>
                    </select>
                </div>
            </div>


            <!-- Tipo e Responsáveis -->
            <div class="grid grid-cols-2 gap-14 mt-4">
                <div>
                    <label for="responsaveis" class="block text-gray-700 font-bold mb-2">Responsável(s)</label>
                    <select id="responsaveis" multiple class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-green-800 h-[42px]">
                        <option value="1">Fulano da Silva</option>
                    </select>
                </div>
                <div>
                    <label for="horas-previstas" class="block text-gray-600 font-bold mb-2">Horas Previstas</label>
                    <input type="text" id="horas-previstas" placeholder="X horas" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-green-800">
                </div>
            </div>

            <!-- Botões -->
            <div class="flex justify-end mt-32">
                <button type="submit" class="btn-default">Criar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
