{% extends 'management/base.html' %} {% load static %} {% block content %}
<div class="pt-12 pb-8">
	<h1 class="text-2xl">Solicitações de Submissão</h1>
</div>
<section class="submit-requests flex flex-wrap gap-5">
	<div class="p-9 rounded-lg bg-gray-50 shadow-md">
		<div>
			<div class="flex">
				<h3 class="text-green-900 font-semibold text-xl lg-screen:text-lg">Expotec</h3>
			</div>
			<span class="tag-default h-2 ">Deferido</span>
			<div class="pt-5"></div>
		</div>
	</div>
	<div class="p-9 rounded-lg bg-gray-50 shadow-md">
		<div>
			<div class="flex">
				<h3 class="text-green-900 font-semibold text-xl lg-screen:text-lg">Eventos</h3>
			</div>
			<span class="tag-default h-2 ">Deferido</span>
			<div class="pt-5"></div>
		</div>
	</div>
	<div class="p-9 rounded-lg bg-gray-50 shadow-md">
		<div>
			<div class="flex">
				<h3 class="text-green-900 font-semibold text-xl lg-screen:text-lg">Eventos</h3>
			</div>
			<span class="tag-default h-2 ">Deferido</span>
			<div class="pt-5"></div>
		</div>
	</div>
	<div class="p-9 rounded-lg bg-gray-50 shadow-md">
		<div>
			<div class="flex">
				<h3 class="text-green-900 font-semibold text-xl lg-screen:text-lg">Eventos</h3>
			</div>
			<span class="tag-default h-2 ">Deferido</span>
			<div class="pt-5"></div>
		</div>
	</div>
	<div class="p-9 rounded-lg bg-gray-50 shadow-md">
		<div>
			<div class="flex">
				<h3 class="text-green-900 font-semibold text-xl lg-screen:text-lg">Eventos</h3>
			</div>
			<span class="tag-default h-2 ">Deferido</span>
			<div class="pt-5"></div>
		</div>
	</div>
	<div class="p-9 rounded-lg bg-gray-50 shadow-md">
		<div>
			<div class="flex">
				<h3 class="text-green-900 font-semibold text-xl lg-screen:text-lg">Eventos</h3>
			</div>
			<span class="tag-default h-2 ">Deferido</span>
			<div class="pt-5"></div>
		</div>
	</div>
</section>

{% endblock%}
