{% extends "management/base.html" %}
{% load svg %}
{% block content %}

<!--tela não possui eventos-->
<div class="bg-gray-200 min-h-screen flex-col items-center justify-center hidden">
    <!-- Nome do Usuário -->
    <div class="w-full text-left px-6">
        <p class="text-green-900 text-2xl font-semibold">Fulano DiTal</p>
    </div>

    <!-- Mensagem Central -->
    <div class="flex items-center justify-center flex-1">
        <p class="text-green-500 text-center text-3xl font-medium">
            Opa, parece que você não tem eventos<br>para organizar
        </p>
    </div>
</div>

<div class="bg-gray-200 flex items-center mt-1 justify-start ">
    <div class="p-8 max-w-3xl w-full ml-8">
        <h1 class="text-2xl font-semibold text-green-900 mb-6">Quer publicar um evento?</h1>

        <form action="{% url 'request_create_event' %}" method="post" id="request_event_form">
            {% csrf_token %}

            <div class="mb-4">
                <label class="block text-gray-600 font-medium mb-2">Campus:</label>
                <select name="{{ form.campus.name }}" id="{{ form.campus.id_for_label }}" class="w-full rounded-lg bg-gray-100">
                    <option value="" disabled selected>-------</option>
                    {% for value, label in form.campus.field.choices %}
                        <option value="{{ value }}" {% if form.campus.value == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-4">
                <label class="block text-gray-600 font-medium mb-2">Nome do evento:</label>
                {{ form.event_title }}
            </div>

            <div class="mb-4">
                <label class="block text-gray-600 font-medium mb-2">Data de inicio:</label>
                {{ form.init_date }}
            </div>

            <div class="mb-4">
                <label class="block text-gray-600 font-medium mb-2">Data de fim:</label>
                {{ form.end_date }}
            </div>

            <div class="mb-6">
                <label class="block text-gray-600 font-medium mb-2">Breve descrição do evento:</label>
                {{ form.description }}
            </div>

            <!-- Botões -->
            <div class="flex space-x-2 justify-end mt-11">
                <button type="button" class="w-[190px] min-h-14 bg-red-700 text-center rounded-md text-base font-semibold text-gray-100 hover:bg-red-600">
                    Cancelar
                </button>
                <button type="submit" class="btn-default">
                    Submeter
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
